* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li{
  list-style: none;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header{
  text-align: center;
}

.productsInfos{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  flex-direction: row;
  gap: 100px;
  overflow-x: auto; 
  padding-bottom: 50px;
  scroll-behavior: smooth;
}

.productImages{
  border-radius: 20px;
}

.colorChoice {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
}
.colorCircle{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: red;
}
.yellowGold{
  background-color: #E6CA97;
}
.whiteGold{
  background-color: #D9D9D9;
}
.roseGold{
  background-color: #E1A4A9;
}