* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li{
  list-style: none;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header{
  text-align: center;
  padding-block: 60px;
  font-size: 45px;
  font-family: var(--font-avenir), sans-serif;
  font-weight: 200;
}

.productsContainer{
  position: relative;
  display: flex;
  align-items: center;
  padding-block: 20px;
}

.productsInfos{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  flex-direction: row;
  gap: 100px;
  overflow-x: auto; 
  padding-bottom: 30px;
  scroll-behavior: smooth;
}

.productsInfos::-webkit-scrollbar {
  height: 12px;
  background-color: #D9D9D9;
  border-radius: 10px;
}

.productsInfos::-webkit-scrollbar-thumb {
  background-color: #B7B7B7;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.productName {
  font-family: var(--font-montserat), sans-serif;
  font-size: 15px;
  padding-block: 10px;
}

.productPrice {
  font-family: var(--font-montserat), sans-serif;
  font-size: 15px;
}

.productImages{
  border-radius: 20px;
  object-fit: cover;
}

.colorChoice {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
}
.colorCircle{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: red;
}
.yellowGold{
  background-color: #E6CA97;
}
.whiteGold{
  background-color: #D9D9D9;
}
.roseGold{
  background-color: #E1A4A9;
}
.colorResult{
  font-family: var(--font-avenir), sans-serif;
  font-size: 12px;
  color: #7E7E7E;
  margin-top: 8px;
}

.popularityScore {
  font-family: var(--font-avenir), sans-serif;
  font-size: 14px;
}

.scrollBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255,255,255,0.8);
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 10;
  width: 40px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.scrollBtn.left {
  left: -50px;
}

.scrollBtn.right {
  right: -50px;
}

.stars {
  position: relative;
  display: inline-block;
  font-size: 20px;
  color: #e0e0e0; /* boş yıldız rengi */
}

.empty-stars {
  color: #e0e0e0;
}

.filled-stars {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #ffc107; /* dolu yıldız rengi */
}

/* filter Design */
.btn {
  padding: 12px 16px;
  border: none;
  border-radius: 4px;
  background-color: #D9D9D9;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #B7B7B7;
}

.minInputBar,
.maxInputBar {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  width: 100px;
}

.popularityFilter {
  display: flex;
  gap: 8px;
  margin-top: 12px;
}

.priceFilter {
  display: flex;
  gap: 8px;
  margin-top: 12px;
  align-items: center;
}